<!-- result of the query select * from blogpost where blogpostid=? -->
<div class="panel panel-primary">
	<div class="panel-heading">
		<b>Blog Title:</b>{{blogPost.blogTitle}}<br> <b>Posted On :</b>
		{{blogPost.postedOn | date:'dd-MMM-yyyy :hh:mm:ss'}}<br> <b>Author
			:</b>{{blogPost.author.email}}<br>
	</div>
	<div class=panel-body>
		<div>
			<p ng-bind-html="content">
				<br>
		</div>
		<div>
			<a ng-click="updateLikes(blogPost.blogPostId)"><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'"></span></a> likes
			{{blogPost.likes}}<br>
			<textarea rows="4" cols="70" ng-model="commentTxt"></textarea> 
			
			
			<button ng-click="addBlogComment(commentTxt,blogPost)" class="btn btn-primary">POST COMMENT</button>
			<div ng-show="blogComment!=undefined">
<b>Comment		:</b>{{blogComment.commentTxt}}<br>
<b>Name			:</b>{{blogComment.commentedBy.firstname}}&nbsp;{{blogComment.commentedBy.lastname}}<br>
<b>Commented On	:</b>{{blogComment.commentedOn | date:'dd/MM/yyyy:hh:mm:ss'}}<br>
			</div>
			
			<div>

			
<br>
<a href="" ng-click="getAllBlogComments(blogPost.blogPostId)">View All Comments</a><br><br>  <span style="color:purple;">{{message}}</span><br><br>
<ul style="list-style:none">
<span style="float:center;" ng-show="blogComments==''">There is no comments, you are the first one to comment is blog!</span>
<li ng-repeat="blogComment in blogComments | orderBy:'-commentedOn'">
<b>Comment : </b>{{blogComment.commentTxt}}<br>
<b>CommentedBy :
<span ng-if="user.email!=blogComment.commentedBy.email">{{blogComment.commentedBy.email}},</span>&nbsp;<br>
<span ng-if="user.email==blogComment.commentedBy.email">You</span>
CommentedOn : {{blogComment.commentedOn | date:'yyyy:MM:dd:mm:ss'}}</b>
  
<a href="" ng-click="deleteBlogComment(blogComment)"><span ng-show="user.email==blogComment.commentedBy.email" class="pull-right glyphicon glyphicon-trash" title="Delete This Comment"></span></a> 
<hr>
</l i>
</ul>
			
			
			
			
			
	</div>
	</div>		
			
				
	</div>
</div>
